.content{
    margin-top: 30px;
}

.search-button{
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: 5px;
    transition: transform 450ms ; 
}

img{
    width: 100%;
}

.search-button:hover{
    background-color: white;
    color: black;
    transition: transform 450ms ;
    
}