<div class="contain-fluid">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let item of bannerDataResult; let a = index" [ngClass]= "{active: a === 1}" >
            <img src="https://image.tmdb.org/t/p/original/{{item.backdrop_path}}"
            class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>{{item.original_title}}</h1>
                <p>{{item.overview}}</p>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>


<div class="contain mt-3 p-4">

    <div class="row">
        <h5 style="color: white;">Trend Filmler</h5>

        <div class="miniposter">
          <ng-container  *ngFor="let item of trendingMoviesResult">
            <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}"
            class="poster-images" alt="...">
          </ng-container>
        </div>
    
    </div>

   





</div>